*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-main {
    width: 700px;
    margin: 0;
    margin-top: 50px;
}   

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    display: block;
    margin: 10px;
    width: fit-content;
    border: 1px;
}
.search-container {
    height: 5rem;
    background: white;
    display: block;
    margin-top: 50px;
    /* align-items: center; */
    /* justify-content: center; */
}
.search-container .form {
    width: var(--view-width);
    max-width: var(--max-width);
    display: flex;
    gap: 0.5rem;
}
.search-container .form-input{
    /* max-width: 200px; */
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: white;
    border: 1px solid var(--grey-400);
}

.contacts-page-container {
    margin-left: 5px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: medium;
    color: brown;
    display: flex;
}