<header style="height: 4rem; background: white; display: flex; align-items: center;">
    
    <div style="gap: 0.5rem; flex-wrap: wrap;">
        <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
            <input style="background: white; border-radius: 2mm;" type="text" placeholder="search" name="q" value="{{request.GET.q}}" >
            <input style="border-radius: 2mm; font-size: 0.75rem;" type="submit" name="submit" value="search"/>
        </form>
    </div>
    
</header>

{%  if submitbutton == 'search' and request.GET.q != " " %}

    {% if results %}
    <h3>The results for <b>{{request.GET.q}}</b></h3>
    <br/>

    {% for result in results %}
    
    {{result.name}}
 
    {% endfor %}

    {% else %}

    No result for your search Params
    
    {% endif %}

{% endif %}