<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/css/main.css">
    <title>contact {{contact.id}}</title>
    <header class="search-container">
        
        <div  class="search-container form">
            <form style="margin-left: 50px; display: flex; align-items: center; gap: 20px;" action="{% url 'search' %}" method="GET" value="{{request.GET.q}}" class="form-input">
                <input style="width: 500px; height: 50px;"  type="text" placeholder="search" name="q" value="{{request.GET.q}}" >
                <input style="padding:10px ; border: none; cursor: pointer; color: #000; background-color: aliceblue;"  type="submit" name="submit" value="search"/>
            </form>
        </div>
        
    </header>
    
    {%  if submitbutton == 'search' and request.GET.q != "" %}
    
        {% if results %}
        <h3>The results for <b>{{request.GET.q}}</b></h3>
        <br/>
    
        {% for result in results %}
        
        <p>
            {{result.name}}
        </p>
     
        {% endfor %}
    
        {% else %}
    
        No result for your search Params
        
        {% endif %}
    
    {% endif %}
</html>

